{:pite {:dbtype   "oracle"
        :dbname   "CHANGEME"
        :username "CHANGEME"
        :password "CHANGEME"
        :host     "CHANGEME"
        :port     1521
        :poolName "[PITE]"}

 :http {:ip     "CHANGEME"
        :port   8088
        :thread 4}

 :http-misc {:stop-timeout 100}

 :log {:pattern   "dd-MM-yyyy HH:mm:ss.SSS"
       :timezone  "Europe/Moscow"
       :path      "C:\\Programm_Vist\\acds\\acds-shovels\\logs\\app.log"
       :backlog   5
       :file-size 10485761
       :level     :info}

 :api-instance {:version "v2.0.0"
                :instance "production"}

 :api-description {:swagger {:info {:title "ИС \"Карьер\".HTTP API: интеграционный интерфейс"
                                    :description "Программный интерфейс информационной системы \"Карьер\" предприятия, предназначенный для интеграции с управляющим ПО бортовых компьютеров единиц техники участка экскавации по протоколу HTTP."
                                    :version ""}
                             :host "CHANGEME:8088"
                             :basePath ""}
                   :soap {:summary "История рейсов"
                          :description "Запрос возвращает историю рейсов, выполненных самосвалами, на запрошенный экскаватор"}}

 :params {:minloadtime  7
          :idlestoptype 67}}
